@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
    background-color: #232323;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
    transition: background 0.35s;
}

#container {
    max-width:40%;
    margin: 1% auto 1% auto;
}

h1 {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    line-height: 1.15;
}

button {
    height: 100%;
    background: none;
    color: #232323;
    border: none;
    text-transform: uppercase;
    font-size: inherit;
    letter-spacing: 1px;
    transition: all 0.35s;
    font-weight: bold;
    outline:none;
    font-family: 'Josefin Sans', sans-serif;
}

button:hover {
    background: #232323;
    color: white;
}

.selected {
    background: #232323;
    color: white;
}

#stripe {
    color: white;
    height: 35px;
    text-align: center;
    background-color: white;
}

#colorDisplay {
    font-size: 3.75rem;
}

#colorDisplay, #guess {
    text-transform: uppercase;
    color: white;
}

#guess {
    visibility: hidden;
    display: inline-block;
    width: 27.5%;
}